/* LoginForm.css */
.login-container {
    margin-top: 50px;
    
  }
  
  .space{
    margin-bottom:2em;
  }
  .login-form {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    gap:1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .btn-block {
    width: 100%;
    margin-top:1em;
    background-color:#f34d61 !important;
    border-color:#f34d61 !important;
  }
  